{% extends 'base.html.twig' %}

{% block title %}Algorithms{% endblock %}

{% block body %}
    <hr>
    <a style='margin-left: 18px;' href='{{ path('app_create') }}'> Nouveau</a>
    <table>
        <tbody>
            {% for data in result %}
                <tr>
                    <td>
                    <a class='contrast' style='text-decoration: none;' href="{{ path('app_show', {id: data.id}) }}">
                        {{ data.title }}
                    </a>
                    </td>
                    <td>{{ data.theme }}</td>
                    <td class="
                        {% set levelClass = {
                            'Moyen': 'text-moyen',
                            'Facile': 'text-easy'
                        }[data.level.value] | default('text-complex') %}
                        {{ levelClass }}
                    ">
                        <small>{{ data.level.value }} </small>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}