{% extends 'base.html.twig' %}
l
{% block title %}{{algorithm.title }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modal') }}
    {{ encore_entry_script_tags('switch') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/php.min.js"></script>
    <script> hljs.highlightAll() </script>
{% endblock %}


{% block body %}
    <div class='algorithm-data'>
        <div class='data'>
            <h3>{{ algorithm.title }}</h3>
            <p>{{ algorithm.theme }}<br></p>
            <u><strong>Niveau :</strong></u> <span class="
                        {% set levelClass = {
                            'Moyen': 'text-moyen',
                            'Facile': 'text-easy'
                        }[algorithm.level.value] | default('text-complex') %}
                        {{ levelClass }}
                    ">{{ algorithm.level.value }}<hr>
            <p style="text-align: justify;">{{ (algorithm.description|nl2br) }}<hr></p>
        </div>
        <div class="button-group" style="display: flex; gap: 40px;">
            <button>Exporter en PDF</button>
            <button id='showModalButton' class="outline" >Afficher la solution</button>
        </div>
    <div>

    <dialog id='solutionModal' close>
        <article>
            <header>
                <button aria-label="Close" id="closeModalButton" rel="prev"></button>
                <p><strong>PHP</strong></p>
            </header>
           <pre><code class="language-php">{{ algorithm.solution }}</code></pre>
        </article>
    </dialog>

{% endblock %}